<!doctype html>
<html lang="en">
  <head>
    {% load static %}
      <title>login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    <body>
        {% csrf_token %}
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-5">
                    </div>
                    <form class="signin-form" method="post" action="javascript:sendData(this);">
                        <div class="form-group mt-3">
                            <input id="email" type="email" class="form-control" required>
                            <label class="form-control-placeholder" for="username">Email</label>
                        </div>
                        <div class="form-group">
                            <input id="password" type="password" class="form-control" required>
                            <label class="form-control-placeholder" for="password">Password</label>
                            <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50 text-left">
                                <label class="checkbox-wrap checkbox-primary mb-0">Dueño
                                    <input id="is-owner" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-left">
                                <label class="checkbox-wrap checkbox-primary mb-0">Cliente
                                    <input id="is-client" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Ingresar</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50 text-left">
                                <label class="checkbox-wrap checkbox-primary mb-0">Recordarme
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                            <p class="text-center">Aun no es un usuario? <a style="color: #28a745;"href="{% url 'register' %}">Crear cuenta</a></p>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        function sendData(page) {
                            var data = {
                                is_client: document.getElementById("is-client").checked,
                                is_owner: document.getElementById("is-owner").checked,
                                email: document.getElementById("email").value,
                                password: document.getElementById("password").value,
                            }
                            $.ajax({
                                type: 'POST',
                                url: "{% url 'login_user' %}",
                                dataType: 'json',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                headers: {
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                success: function(data) {
                                    console.log("Success")
                                    if (data.is_client === true) {
                                        window.location.href="{% url "client_view" %}";
                                    }else {
                                        window.location.href="{% url "owner_view" %}";
                                    }
                                },
                                error: function(data) {
                                    console.log(data)
                                    alert(data.statusText)
                                }
                            });
                        }
                    </script>
                </div>
            </div>
        </section>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>

