<html>
<head>
	<title>{% block title %}Assistant{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}
    {% endblock %}
</head>
 
<body>
	<div class="sidenav">
        {% if owner %}
        <a href="{% url 'owner_view' %}">Mi Perfil</a>
        <a href="{% url 'owner_clients_view' %}">Mis Clientes</a>
		<a href="#">Mis Turnos Asignados</a>
		<a href="#">Mis Turnos Disponibles</a>
        {% endif %}
        {% if client %}
        <a href="{% url 'client_view' %}">Mi Perfil</a>
		<a href="#">Mis Calendarios</a>
        {% endif %}
        <a href="{% url 'logout' %}">Salir</a>
	</div>
 
	{% block content %}
	{% endblock %}
 
</body>
</html>
